*{
    padding: 0%;
    margin: 0%;
    border: 0px;
}
.callme{
    /* center this div*/
    margin: auto;
    width: 50%;
    height: 50%;

}
.contact{
    color: rgb(236, 228, 228); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center;
    padding: 0;
    margin: 0; 
}
.p1{
    color: rgb(236, 228, 228); 
    font-family: 'Verdana', sans-serif;
    font-size: 25px; 
    line-height: 1.5;
    letter-spacing: -1px; 
    width:auto;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
}
.input{
    margin: auto; 
    text-align: center;
    line-height: 1.5;
    width: 46.875rem;
    margin-bottom: 1rem;
}
.Mail{
    width: 46.875rem;
    display: flex;
    align-items: center;
    position: relative; 
    margin: auto;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 1rem;
}
.text{
    resize: none;
    width: 46.875rem;
    padding-top: 5px;
    padding-left: 5px;
    height: 500px;
    
}
.btnSend{
    float: right;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative; 
    margin: auto;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 1rem;
}

